<li class="card-outer">
	<div class="div-box border bx-shadow">
		<a href="/" class="sm:modal-prev">
			<div class="card">
				<div class="card-preview">
					<div class="image-preview loaded" style="background-image: url({{cardImage.imgRoom1}}); opacity: 1;"></div>
				</div>
				<div class="card-details">
					<div class="sub">
						<h4 class="card-title Nll_clamp_1" title="{{habitacion}}">{{habitacion}}</h4>
						<p class="card-description Nll_clamp_2">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque consequuntur alias omnis impedit aperiam iusto aliquam cupiditate est facilis quam. At amet laborum quae fuga, eos quisquam eveniet eum nulla.
						</p>
					</div>
					<div class="mid">
						<ul class="list-items grid-cols-2 gap-4">
							<li class="item">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wifi"><path d="M12 20h.01"/><path d="M2 8.82a15 15 0 0 1 20 0"/><path d="M5 12.859a10 10 0 0 1 14 0"/><path d="M8.5 16.429a5 5 0 0 1 7 0"/></svg>
								<span class="text-sm">Wifi</span>
							</li>
							<li class="item">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tv"><rect width="20" height="15" x="2" y="7" rx="2" ry="2"/><polyline points="17 2 12 7 7 2"/></svg>
								<span class="text-sm">TV</span>
							</li>
							<li class="item">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun-snow"><path d="M10 9a3 3 0 1 0 0 6"/><path d="M2 12h1"/><path d="M14 21V3"/><path d="M10 4V3"/><path d="M10 21v-1"/><path d="m3.64 18.36.7-.7"/><path d="m4.34 6.34-.7-.7"/><path d="M14 12h8"/><path d="m17 4-3 3"/><path d="m14 17 3 3"/><path d="m21 15-3-3 3-3"/></svg>
								<span class="text-sm">Clima</span>
							</li>
							<li class="item">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-utensils"><path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/><path d="M7 2v20"/><path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/></svg>
								<span class="text-sm">Restaurant</span>
							</li>
						</ul>
					</div>
					<div class="bot flex-row">
						<div class="price">
							<span class="cost">${{precio}}</span>
							<span class="schedule"> por noche</span>
						</div>
						<button class="btn btn-booking">Reservar</button>
					</div>
				</div>
			</div>
		</a>
	</div>
</li>
